<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="baglanti"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\EvussinProjectDB.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" requestValidationMode="2.0" maxRequestLength="10240" />
    <globalization requestEncoding="utf-8"
                   responseEncoding="utf-8"
                   fileEncoding="utf-8"
                   culture="tr-TR"
                   uiCulture="tr-TR" />
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />
  </system.web>
</configuration>
